body, html {
	font-family: 'Acumin Pro', sans-serif;
}

a {
	color: #1E1EFA;
	text-decoration: none;
	border-bottom: 2px solid #1E1EFA;
	display: inline;
	font-size: 26px;
	transition: 0.3s;
}

a:hover {
	color: #1E1EFA;
	text-decoration: none;
	border-bottom: 2px solid #1E1EFA;
	display: inline;
	font-size: 26px;
	opacity: 0.95;
}

p {
	font-size: 24px;
}

h2 {
	color: #2B2B2B;
	font-size: 48px;
	font-weight: 200;
	line-height: 66px;	
}

.container-fluid {
	display: block;
}

/* Nav */

.menubtn {
    z-index: 1;
    position: absolute;
    right: 35px;
    top: 30px;
    font-weight: 100;
    color: white;
    border-bottom: 2px solid white;
    height: 32px;
}

@media (max-width: 768px) {
    .menubtn {
        top: 30px;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    padding-top: 100px;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content div, ul {
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 36px;
    color: #2B2B2B;
    display: block;
    transition: 0.3s;
    border-bottom: none;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.menu li a {
    color: white !important;
}

.menu li a:hover {
    text-decoration: none;
    color: white !important;
}

/* Logo */

.logo {
    width: 90px;
    height: auto;
    position: absolute;
    top: 30px;
    left: 35px;
    z-index: 10;	
}

@media (max-width: 768px) {
    .logo {
        width: 90px;
    }
}


/* Footer */

footer div {
	height: 300px;
}

.fleft {
	padding-top: 32px;
	padding-left: 65px;
}

.fright {
	line-height: 300px;
    text-align: center;
}

.fright img {
	padding-left: 50px; 
}

.fright img:first-child {
	padding-left: 0px;
}

/* Video */

.videomargin {
	margin-top: 170px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    border: 45px solid #1D1D1D;
    border-radius: 30px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Helper CSS */

.bg-blue {
	background-color: #1E1EFA;
}

.bg-red {
	background-color: #E60005;	
}

.bg-grey {
	background-color: #F2F2F2;
}

.bg-darkgrey {
	background-color: #2B2B2B;
}

.textwhite {
	color: white;
}

.textgrey {
	color: #2B2B2B;
}

.extraheight {
	height: 900px;
}

.fullheight {
	height: 600px;
}

.halfheight {
	height: 300px;
}

.qheight {
	height: 150px;
}

.center {
	text-align: center;
}

/* Bootstrap Changes */


/* Torch */


.flashlight {
  z-index: 1001;
  width: 100%;
  height: 100%;
  padding: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background: radial-gradient(200px 200px, circle contain, rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.96)) center center;
  background: -webkit-radial-gradient(200px 200px, circle contain, rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.96)) center center;
  background: -moz-radial-gradient(200px 200px, circle contain, rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.96)) center center;
  background: -ms-radial-gradient(200px 200px, circle contain, rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.96)) center center;
}

/* Loaders */
                
.no-display {
    display: none;
}

.afternoon, .earlybird, .morning, .food, .evening, .night {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99;
}

                .loaderheader {
                    color: white;
                    line-height: 95vh;
                    font-size: 58px;
                    text-align: center;
                    font-weight: 300;
                }

                .earlybird {background-color: lightblue; }
                .morning {background-color: orange; }
                .food {background-color: darkgreen; }
                .afternoon {background-color: darkred;}
                .evening {background-color: #f3b998; }
                .night {background-color: black; }

                .flashlight {
                      z-index: 1001;
                      width: 100%;
                      height: 100%;
                      padding: 200px;
                      position: fixed;
                      top: 0;
                      left: 0;
                      background-repeat: no-repeat;
                      background: radial-gradient(200px 200px, circle contain, rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.96)) center center;
                      background: -webkit-radial-gradient(200px 200px, circle contain, rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.96)) center center;
                      background: -moz-radial-gradient(200px 200px, circle contain, rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.96)) center center;
                      background: -ms-radial-gradient(200px 200px, circle contain, rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.96)) center center;
                    }
