body, html {
	font-family: 'Acumin Pro', sans-serif;
}

a {
	color: #1E1EFA;
	text-decoration: none;
	border-bottom: 2px solid #1E1EFA;
	display: inline;
	font-size: 26px;
}

a:hover {
	color: #1E1EFA;
	text-decoration: none;
	border-bottom: 2px solid #1E1EFA;
	display: inline;
	font-size: 26px;
	opacity: 0.75;
}

p {
	font-size: 24px;
}

h2 {
	color: #2B2B2B;
	font-size: 48px;
	font-weight: 200;	
}

.container-fluid {
	display: block;
}

/* Homepage */

.intro {
	height: 700px;
}

.intro h1 {
	color: white;
	font-size: 120px;
	font-weight: 200;
	padding-top: 180px;	
}

.exp {
	height: 600px;
}

.exp h2 {
	padding-top: 150px;		
}

.case1 {
	background-image: url('../img/Paro-Kids-Homepage-Design-Concept.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
}

.case1 h2 {
	text-align: center;
	line-height: 600px;
	color: white;		
	font-size: 64px;
	font-weight: 300;
	margin: 0;
}

.case2 {
	background-image: url('../img/Swiss-International-Airlines-Kids-Homepage-Design-Concept.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
}

.case2 h2 {
	text-align: center;
	line-height: 600px;
	color: white;		
	font-size: 64px;
	font-weight: 300;
	margin: 0;
}

/* Portfolio */

.portfolio h4 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	color: black;
}

.brief {
	font-size: 28px;
	font-weight: 100;
}

/* Swiss Airlines Case */

.swissairlines .swiss {
	background-image: url('../img/Swiss-International-Airlines-Kids-Homepage-Design-Concept.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;	
}

.swissairlines .swiss h2 {
	text-align: center;
	line-height: 600px;
	color: white;		
	font-size: 64px;
	font-weight: 300;
	margin: 0;
}

.swissairlines .swiss2 {
	background-image: url('../img/Swiss-International-Airlines-Wengen-Kids-Homepage-Design-Concept.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;	
}

.swissairlines .briefdiv {
	padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
}

.swissairlines .experience {
	padding-top: 400px;
	padding-left: 50px;
}

.swissairlines .experience p {
	font-size: 36px;
	font-weight: 100;
}

.swissairlines .caselogo {
    width: 320px;
    padding-top: 105px;
}

.swissairlines .results {
	padding-top: 470px;
	padding-left: 50px;
}

.swissairlines .results p {
	font-size: 36px;
	font-weight: 100;
}

.swissairlines .feedback {
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.swissairlines .feedback p {
	font-size: 36px;
	font-weight: 100;
}

.swissairlines .feedback p span {
	font-size: 24px;
	font-weight: 500;
}

/* Footer */

footer div {
	height: 300px;
}

.fleft {
	padding-top: 40px;
	padding-left: 65px;
}

.fright {
	line-height: 300px;
    text-align: center;
}

.fright img {
	padding-left: 50px; 
}

.fright img:first-child {
	padding-left: 0px;
}

/* Video */

.videomargin {
	margin-top: 170px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    border: 45px solid #1D1D1D;
    border-radius: 30px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Helper CSS */

.bg-blue {
	background-color: #1E1EFA;
}

.bg-red {
	background-color: #E60005;	
}

.bg-grey {
	background-color: #F2F2F2;
}

.bg-darkgrey {
	background-color: #2B2B2B;
}

.textwhite {
	color: white;
}

.textgrey {
	color: #2B2B2B;
}

.extraheight {
	height: 900px;
}

.fullheight {
	height: 600px;
}

.halfheight {
	height: 300px;
}

.qheight {
	height: 150px;
}

.center {
	text-align: center;
}